* { margin: 0; padding: 0; }
body {
	font-family: Tahoma, sans-serif;
	font-size:12pt;
}
h2 {
	font-size: 1.6em;
	font-weight: bold;
	text-align:center;
}

h3 {
	
}

h4 {
	text-align: left;
	font-size: 1.2em;
	line-height: 0.8em;
}

.aligncenter {
	margin-left:auto;
	margin-right:auto;
/*	text-align:center;*/
}

#alert {
	width: 60%;
	font-size: 0.8em;
	border: 1px solid;
    margin: 10px 0px;
    padding:8px 40px 8px 40px;
    position:relative;
    color: #6B0022;
    background-color: #FFE6EE;	
}
#alert a {
	text-align:right;
	display: block;
	font-size: 0.8em;
}

div.banner {
	background: #f7941e;
	width: 100%;
	height: 26px;
	line-height: 1.2em;
	position: fixed;
	top: 0px;
	left: 0px;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 6px solid black;
	font-size: 0.8em; 
	box-shadow: 0 5px 5px #888888;
	z-index: 1;
	/* display: none; */
}
div.banner p {
	margin: 0.2em;
	color: #000000;
	font-size: 0.9em; 
	font-family: Arial, sans-serif;
}
div.banner h4 {
	font-family: Arial, sans-serif;
}
#table {
	padding-top: 30px;
}
#dropdown {
	width:220px;
	border-left:1px dotted white;
/*	position:fixed; 
	top:0px;
	right:0px; */
/*	color:#FFF;*/
	padding-top: 4px;
	text-align: right;
	font-weight: bold;
	font-family: Arial, sans-serif;
	float: right;
	display: block;
}

.narrow { width: 90px !important; }

#dropdown ul {
	list-style:none;
	margin:0;
	padding:0;
	display:none;
/*	position:absolute;
	top:0;
	left:0; */
	float: right;
/*	background-color:#eee;*/
/*	border: solid 1px #999;*/
}
/*	#dropdown a {
		text-align: left;
		padding:2px 10px;
		width:180px;
		display:block;
		text-decoration:none;
		color:#000;
	}
	#dropdown a:hover {
		color:#000;
		background-color:#CCC;
	}
	#dropdown:hover ul, #dropdown.over ul {
		display:block;
	}
*/	

.sub_menu {
	box-shadow: 4px 4px 3px #888888;
}

#dropdown2 {
	width:auto;
	border-left:1px dotted white;
/*	position:fixed; 
	top:0px;
	right:0px; */
	color:#FFF;
	padding-top: 2px;
	text-align: right;
	font-weight: bold;
	font-family: Helvetica, sans-serif;
	font-size: 7.5pt;
	float: right;
	display: block;
}
#dropdown2 ul {
	list-style:none;
	margin:0;
	padding:0;
	display:none;
/*	position:absolute;
	top:0;
	left:0; */
	float: right;
	background-color:#eee;
	border: solid 1px #999;
}
/*#dropdown2 a {
	text-align: left;
	padding:2px 10px;
	display:block;
	text-decoration:none;
	color:#000;
}
#dropdown2 a:hover {
	color:#000;
	background-color:#CCC;
}
#dropdown2:hover ul, #dropdown2.over ul {
	display:block;
}

*/	
	


#track_btn {
	height:100%;
/*	border-right:1px dotted white;*/
	color: #FFF;
/*	width:180px;
	position:fixed; 
	top:0px;
	right:0px; 
	text-align: right;*/
	padding: 7px 7px 0 7px;
	font-weight: bold;
	font-family: Arial, sans-serif;
	float: left;
	display: block;
}

#track_btn a {
	text-align: left;
	padding:2px 8px 2px 8px;
/*	width:180px;
	display:block;
*/	text-decoration:none;
	color:#fff;
	border-radius:8px;
}

#track_btn a:hover {
	text-decoration: none;
	background:#FFF;
	color:#f7941e;
}
#user_btn {
	float:left; 
	padding:3px 0 0 50px;
	color:#FFF;
}
#user_btn a {
	color:#FFF;
}
.dot_bg {
	border:#FFF 1px solid;
	border-radius: 8px;
}
.top_btns {
	float:right;
/*	background: #f7941e;*/
}

.container {margin-top:70px;}
.bigbutton a {
	background: #FFCC00;
	border: #FF9933 7px solid;
	border-radius: 17px;
	font-size: 3em;
	font-weight: bold;
	text-decoration: none;
	margin: 10px 10px 48px 10px;
/*	display:block;*/
}
#track {
	padding: 0 18px;
	width:90%;
}
#track td {
	padding:14px 0 6px 0;
	border-bottom: 1px #000000 solid;
}
#track p {
	font-size:75%;
	margin:0;
	padding:0;
}
#track textarea {
/*	border:none;*/
}
#QtrInc_cont {
	text-transform:uppercase;
	font-size:0.9em;
	color: #666;
}
#unfold { 
/*	background:#F89218; /* CBLD Orange */*/
	margin:3px; 
	padding:0 50px;
	text-align:right; 
	width: 850px;
	cursor:pointer;
/*	border:2px outset #ff6600; */
/*	font-weight:bolder; */
/*	border-radius:6px;*/
	font-size:75%;
}

#datebar {
/*	position: absolute;*/
/*	top: 50px;*/
/*	left:10%;*/
	text-transform: uppercase;
/*	float:left;*/
	text-align: center;

}
#datebar a {
	margin-right: 10px;
	padding:3px;
	text-decoration: none;
	font-size: 0.7em;
	color: #999;
	border-radius: 6px;
}
#datebar a:hover {
	background: #333;
	color: #ffffff;
}

#datebar a:active {
	background: #333;
	color: #ffffff;
}

#grouptitle {
	text-transform: uppercase;
	margin-left: 1%;
}

#grouptitle span {
	font-size: 1.2em;
	font-weight: bolder;
	text-transform: capitalize;
}

#grouped {
	float:right;
/*	display:block;*/
/*	position:relative;*/
/*	top:-20px;*/
/*	right: 5%;*/
/*	border:1px #666 dotted;
	padding: 6px;*/
	margin-right: 1%;
}

#grouped .sorttag {
	font-size: 0.75em;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	float: right;
	margin-left: 6px;
	padding-left: 6px;
	background: #666;
	border: #999 1px solid;
}
.sorttag a {
	color:#eee;
	text-decoration: none;
	padding-bottom: 3px;
}
.sorttag .ex {
	font-size: 14px;
	margin-bottom: 5px;
}

.add_entry {
	margin-top:4em;
	background: #f7941e;
	border: #000 7px solid;
	width: 430px;
	border-radius: 22px;
	padding: 8px;
	text-align:center;
}
.add_entry h1 {  }
.add_entry p { 
	font-size:90%;
}
#clientinfo .cname {
	font-size: 2em;
	font-weight: bold;
}
.label {
	font-size:0.8em;
	color: #666;
	text-transform: uppercase;
}
p.info a:link {color:#333; text-decoration:none; }
p.info a:hover { text-decoration:underline;}
p.info a:visited { color:#333; text-decoration:none; }

.resp {
	font-size: 1.15em;
	color: #000;
}
.cname {
	font-size: 2em;
	font-weight: bold;
}

.modified {
	color: red;
	font-size: 1.15em;
}
/* 
	LEVEL ONE
*/
ul.dropdown                         { position: relative; width: 100%; list-style:none outside none; text-align:center; }
ul.dropdown li                      { font-weight: bold; float: left; width: 220px; background: #f7941e; position: relative; border-bottom: solid 6px #000; height:26px; }
ul.dropdown a:hover		            { color:#000;	background-color:#fff; }
ul.dropdown li a                    { display: block; padding: 7px 8px; color: #FFF; position: relative; z-index: 2000; text-decoration:none; }
ul.dropdown li a:hover,
ul.dropdown li a.hover              { background: #eee; position: relative; border-radius: 12px 12px 0 0; }
ul.dropdown li .inactive {
	color:red;
	font-weight:bold;
}

/* 
	LEVEL TWO
*/
ul.dropdown ul 						{ display: none; position: absolute; top: 0; left: 0; width: 220px; z-index: 0; list-style:none outside none; /*border:1px solid #999;*/ }
ul.dropdown ul li 					{ font-weight: normal; background: #eee; color: #000; border-bottom: 1px solid #ccc; z-index:0; }
ul.dropdown ul li a					{ display: block; background: #eee !important; color:black; } 
ul.dropdown ul li a:hover			{ display: block; background: #ccc !important; color:black; border-radius:0 0 0 0; } 

#wrapper {
	margin-top:-40px;
	margin-left:10%;
	margin-right:10%;
	margin-bottom:20px;
}

#main_select {
	float:right;
	text-align:right;
	margin:30px 0 0 0;
	padding:4px 6px 8px 12px;
	min-width:450px;
/*	border:3px #000 solid;*/
	background: url('../images/bg-trans.png') repeat;
	border-radius:0 0 0 16px;
/*	margin:50px 0;*/
/*	z-index: -1000;*/
}
a.main_btn:link {
	font-size:0.8em;
	color:white;
	text-decoration:none;
}
a.main_btn:hover {
	text-decoration:underline;
	color:white;

}
a.main_btn:visited {
	color:white;
	text-decoration:none;
}

#client_profile {
/*	text-align:left !important;*/
	background:#eee;
	border-radius:0px 0px 16px 16px;
	padding:50px 0px 30px 0px;
}

#client_profile .form_field {
	margin-left:5%;
	padding:6px;
}

#client_profile h3 {
	color:#666;
	font-size:0.75em;
	font-weight:lighter;
	padding-bottom:4px;
}
#left_col {
/*	background:#666;*/
	float:left;
	width:50%;
}
#right_col {
/*	background:#999;*/
	float:right;
	width:50%;
}
#other {
	clear:both;
}
#other ul {
	margin-left:100px;
}
caption {
	padding: 0 0 5px 0;
	margin:0 auto;
	width:auto;
	font: italic 11px Verdana, Arial, Helvetica, sans-serif;
	text-align: right;
}
th {
	font: bold 0.5em Tahoma, sans-serif;
	/*        font: bold 0.5em Verdana, Arial, Helvetica, sans-serif;*/
	color: #000000;
/*	border-right: 1px solid #999;*/
/*	border-bottom: 2px solid #999;*/
	/*        border-top: 1px solid #C1DAD7;*/
	letter-spacing: 0px;
	text-transform: uppercase;
	text-align: left;
	padding: 4px 12px 4px 8px;
	/*        background: #CAE8EA;*/
	vertical-align:middle;
/*	border-radius:0 0 4px 4px;*/
	min-width: 40px;
}
td.total {
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #C1DAD7;
	background: none;
	text-align:right;
	font-weight:bold;
	text-transform:uppercase;
	letter-spacing:1px;
}
th.sortable,
th.sortable-text,
th.sortable-date,
th.sortable-keep,
th.sortable-date-dmy,
th.sortable-numeric,
th.sortable-currency,
th.sortable-sortByTwelveHourTimestamp,
th.sortable-sortIPAddress,
th.sortable-sortEnglishLonghandDateFormat,
th.sortable-sortScientificNotation,
th.sortable-sortImage,
th.sortable-sortFileSize,
th.sortable-sortAlphaNumeric,
th.sortable-sortEnglishDateTime {
	cursor:pointer;
	background: #f6e6d5; 
	/*background: url(media/bg_header_sortable.jpg) no-repeat;*/
	padding: 6px 12px 4px 8px;
}
th.forwardSort {
	background:#f7941e;
	/* 		background: url(media/bg_header_down.jpg) no-repeat 0 0;*/
}
th.reverseSort {
	background:#f7941e; 
	/*		background: url(media/bg_header_up.jpg) no-repeat 0 0;*/
}
table thead th.forwardSort a,
table thead th.reverseSort a {
	color:#000;
	text-decoration:none;
}

/*These styles should be added when very long tables are expected*/
th.sort-active {
	background:#CAE8EA; 
/*	background:url(media/bg_header_sorting.jpg) no-repeat 0 0;*/
	cursor:wait;
}
th.sort-active a {
	color:#a80000 !important;
	cursor:wait;
}

th a {
	text-decoration:none;
	color: #330066;
	background:transparent;
}
th a:hover {
	text-decoration: dotted;
}
tr.alt {
	background: #ccc;
	color: #000;
}

/*
#journal.opener,
#journal.name,
#journal.textblock {
	font-size: 10pt;
	padding: 6px;
}*/
#journal_output {
	margin:auto;
	width:88%;
	text-align:left !important;
	background:#eee;
	border-radius:0px 0px 16px 16px;
	padding:70px 20px 30px 20px;
}
.journal {
	border:1px #000 solid;
	margin: 18px;
}
.journal td {
	font-size:0.8em;
	padding: 5px;
}
.journal a:link {
	text-decoration:none;
	color:#000;
}
.journal a:hover {
	text-decoration:underline;
}
.journal a:visited {
	color:#000;
}
#quickfindbox {
	font-size: 0.65em;
	text-transform:uppercase;
	border:2px #999 solid;
/*	border-left:1px #000 solid;*/
	border-radius:4px;
	padding:4px;
	margin-right:4px;
	width:280px;
}

#mini_dash {
	position:relative;
/*	top:10px;*/
	border-bottom:2px solid #000;
	width:92%;
	margin-left:4%;
	margin-right:4%;
}

#login {
	margin:auto;
	width:320px;
	border:14px #f7941e solid;
	border-radius: 25px;
	padding: 20px;
	margin-top:30px;
/*	background: url('../images/CBLDlogo.png') no-repeat top center;*/
}
.email_link { font-size:70%; text-decoration:none;}
.email_link a:link { color:#666; text-decoration:none; }
.email_link a:hover { text-decoration: underline;}
.email_link a:visited { color:#666;text-decoration:none; }

.empty {
	margin:auto;
	width:40%;
	text-align: center;

/*	margin-top:100px;*/
}
.empty h1 {
	font-size:3em;
	text-transform:uppercase;
	letter-spacing: 0.5em;
}
.empty p {
	font-size:1.1em;
}

.red_dot {
	background:url('../images/reddot.gif') no-repeat;
	height:20px;
}

.yellow_dot {
	background:url('../images/yellowdot.gif') no-repeat;
	height:20px;
}

.green_dot {
	background:url('../images/greendot.gif') no-repeat;
	height:20px;
}
.remove {
/*	font-size:75%;*/
/*	text-transform:superscript;*/
}

/*#outerdiv {
	width:560px;
	height:400px;
	overflow:hidden;
	position:relative;
}

#externalSite {
	position:absolute;
	top:-150px;
	left:-460px;
	width:1280px;
	height:800px;
}*/
.button { 
	margin: 0 0 0 5px; 
/*	text-indent: -9999px; */
	cursor: pointer; 
	width: 20px; 
/*	height: 29px; */
	float: right; 
	text-align: center; 
/*	background: url(../images/buttons.png) no-repeat; */
	color: #ACACAC;
}
.dec { 
	background-position: 0 -29px;
}
#att thead { background:#ACACAC; }
#att .altrow { background: #f5f5f5; }



input[type=text] {
	font-size: 14px;
	font-family: Georgia,Times, serif;
	padding:3px;
}

input:focus, textarea:focus{
	background-color: lightyellow;
}


.stats_tbl {
	padding: 12px;
}
.stats_tbl .data {
	padding: 3px;
	margin:3px;
	text-align:right;
}
.stat_box {
	display: block;
	border-radius:16px;
	border: 4px solid #999999;
	float:left;
	padding:10px;
	margin:15px;
}
.stat_box .big {
	font-size: 3em;
	text-align: right;
	font-weight: 500;
}
.stat_box p {
	text-transform: uppercase;
	font-size:12px;
}
.stat_box .of {
	font-size:1em;
	font-weight: 200;
}
