<?php 
session_start();
# Script 8.1 - mysql_connect.php (Second version after 7.2)

// This file contains the database access information.
// This file also establishes a connection to MySQL and selects the database.

// Set the database access information as constants.
DEFINE ('DB_USER', '');
DEFINE ('DB_PASSWORD', '');
DEFINE ('DB_HOST', '');
DEFINE ('DB_NAME', '');

DEFINE ('REPORT_READY', False);

// Make the connection.
$dbc = @mysql_connect (DB_HOST, DB_USER, DB_PASSWORD) or die ('Could not connect to MySQL.: ' . mysql_error() );

// Select the database.
@mysql_select_db (DB_NAME) or die ('Could not select the database: ' . mysql_error() );

//Set admin-only screens here:
$admin_only=array('/client_assign.php','/report_profile.php');

//current quarter
// $thisQ = ceil(date('n')/3);
// $thisQ = 3;

//authentication
require 'auth/internal.php';

setlocale(LC_MONETARY, 'en_US');
date_default_timezone_set('America/Los_Angeles');


require_once('functions.php');

?>